# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
build/.cmake/api/v1/query/cache-v2
build/.cmake/api/v1/query/cmakeFiles-v1
build/.cmake/api/v1/query/codemodel-v2
build/.cmake/api/v1/reply/cache-v2-58e11e865824f6234f36.json
build/.cmake/api/v1/reply/cmakeFiles-v1-951ae09b7be8c9b81374.json
build/.cmake/api/v1/reply/codemodel-v2-0a5c705849d30881b654.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2022-11-24T14-15-31-0830.json
build/.cmake/api/v1/reply/target-xl_program-Debug-0fa5e146bd6658251df6.json
build/.cmake/api/v1/reply/target-xl_program_autogen-Debug-7fff59e59d5411106273.json
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.21.0-rc2/CMakeCCompiler.cmake
build/CMakeFiles/3.21.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.21.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.0-rc2/CMakeSystem.cmake
build/CMakeFiles/3.21.0-rc2/CompilerIdC/a.exe
build/CMakeFiles/3.21.0-rc2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.21.0-rc2/CompilerIdCXX/a.exe
build/CMakeFiles/3.21.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/xl_program.dir/build.make
build/CMakeFiles/xl_program.dir/cmake_clean.cmake
build/CMakeFiles/xl_program.dir/compiler_depend.internal
build/CMakeFiles/xl_program.dir/compiler_depend.make
build/CMakeFiles/xl_program.dir/compiler_depend.ts
build/CMakeFiles/xl_program.dir/depend.make
build/CMakeFiles/xl_program.dir/DependInfo.cmake
build/CMakeFiles/xl_program.dir/flags.make
build/CMakeFiles/xl_program.dir/includes_CXX.rsp
build/CMakeFiles/xl_program.dir/link.txt
build/CMakeFiles/xl_program.dir/linklibs.rsp
build/CMakeFiles/xl_program.dir/main.cpp.obj
build/CMakeFiles/xl_program.dir/main.cpp.obj.d
build/CMakeFiles/xl_program.dir/objects1.rsp
build/CMakeFiles/xl_program.dir/progress.make
build/CMakeFiles/xl_program.dir/xl_hci/hex_convert.cpp.obj
build/CMakeFiles/xl_program.dir/xl_hci/hex_convert.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_hci/leetcode/leetcode.cpp.obj
build/CMakeFiles/xl_program.dir/xl_hci/leetcode/leetcode.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_hci/leetcode/leetcode_001-020.cpp.obj
build/CMakeFiles/xl_program.dir/xl_hci/leetcode/leetcode_001-020.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_hci/leetcode/leetcode_test.cpp.obj
build/CMakeFiles/xl_program.dir/xl_hci/leetcode/leetcode_test.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_hci/mainwindow.cpp.obj
build/CMakeFiles/xl_program.dir/xl_hci/mainwindow.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_hci/process_control.cpp.obj
build/CMakeFiles/xl_program.dir/xl_hci/process_control.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_hci/tcp/socket_tool.cpp.obj
build/CMakeFiles/xl_program.dir/xl_hci/tcp/socket_tool.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_hci/tcp/tcp.cpp.obj
build/CMakeFiles/xl_program.dir/xl_hci/tcp/tcp.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_hci/xl_tcp/tcp.cpp.obj
build/CMakeFiles/xl_program.dir/xl_hci/xl_tcp/tcp.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_program_autogen/mocs_compilation.cpp.obj
build/CMakeFiles/xl_program.dir/xl_program_autogen/mocs_compilation.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_spm/math/mathematical.cpp.obj
build/CMakeFiles/xl_program.dir/xl_spm/math/mathematical.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_spm/math/matrix.cpp.obj
build/CMakeFiles/xl_program.dir/xl_spm/math/matrix.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_spm/math/test.cpp.obj
build/CMakeFiles/xl_program.dir/xl_spm/math/test.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_tcp/client.cpp.obj
build/CMakeFiles/xl_program.dir/xl_tcp/client.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_tcp/sever.cpp.obj
build/CMakeFiles/xl_program.dir/xl_tcp/sever.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_tool/file_tool.cpp.obj
build/CMakeFiles/xl_program.dir/xl_tool/file_tool.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_tool/str_tool.cpp.obj
build/CMakeFiles/xl_program.dir/xl_tool/str_tool.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_tool/system_cmd.cpp.obj
build/CMakeFiles/xl_program.dir/xl_tool/system_cmd.cpp.obj.d
build/CMakeFiles/xl_program.dir/xl_tool/tool.cpp.obj
build/CMakeFiles/xl_program.dir/xl_tool/tool.cpp.obj.d
build/CMakeFiles/xl_program_autogen.dir/AutogenInfo.json
build/CMakeFiles/xl_program_autogen.dir/AutogenUsed.txt
build/CMakeFiles/xl_program_autogen.dir/build.make
build/CMakeFiles/xl_program_autogen.dir/cmake_clean.cmake
build/CMakeFiles/xl_program_autogen.dir/compiler_depend.make
build/CMakeFiles/xl_program_autogen.dir/compiler_depend.ts
build/CMakeFiles/xl_program_autogen.dir/DependInfo.cmake
build/CMakeFiles/xl_program_autogen.dir/ParseCache.txt
build/CMakeFiles/xl_program_autogen.dir/progress.make
build/users99679appdatalocaltemptmp1klchl
build/users99679appdatalocaltemptmp2j2vfl
build/users99679appdatalocaltemptmp2syflm
build/users99679appdatalocaltemptmp2wmw52
build/users99679appdatalocaltemptmp2zg1at
build/users99679appdatalocaltemptmp36lbfj
build/users99679appdatalocaltemptmp3szphf
build/users99679appdatalocaltemptmp5ekxv5
build/users99679appdatalocaltemptmp5fw4qo
build/users99679appdatalocaltemptmp5ptipu
build/users99679appdatalocaltemptmp5xumzs
build/users99679appdatalocaltemptmp7zs7se
build/users99679appdatalocaltemptmp8pxved
build/users99679appdatalocaltemptmp_br7ql
build/users99679appdatalocaltemptmp_kjz85
build/users99679appdatalocaltemptmp_sm_u4
build/users99679appdatalocaltemptmpa0qofj
build/users99679appdatalocaltemptmpaptxon
build/users99679appdatalocaltemptmpaq7xzi
build/users99679appdatalocaltemptmpasy5in
build/users99679appdatalocaltemptmpat569j
build/users99679appdatalocaltemptmpbpxdpd
build/users99679appdatalocaltemptmpc4sspn
build/users99679appdatalocaltemptmpcecxua
build/users99679appdatalocaltemptmpcefunh
build/users99679appdatalocaltemptmpdr3vd2
build/users99679appdatalocaltemptmpdsvltc
build/users99679appdatalocaltemptmperlgga
build/users99679appdatalocaltemptmpetdazz
build/users99679appdatalocaltemptmpfchqye
build/users99679appdatalocaltemptmpffpctb
build/users99679appdatalocaltemptmpfuy0dd
build/users99679appdatalocaltemptmpfxodyf
build/users99679appdatalocaltemptmpg8ihva
build/users99679appdatalocaltemptmpgfaegj
build/users99679appdatalocaltemptmpgkijra
build/users99679appdatalocaltemptmphjx7sx
build/users99679appdatalocaltemptmphqtrxw
build/users99679appdatalocaltemptmphrtyul
build/users99679appdatalocaltemptmphvjpko
build/users99679appdatalocaltemptmpi0loym
build/users99679appdatalocaltemptmpi5ayeg
build/users99679appdatalocaltemptmpi7rlt_
build/users99679appdatalocaltemptmpil_mqc
build/users99679appdatalocaltemptmpirvqnf
build/users99679appdatalocaltemptmpixl5aa
build/users99679appdatalocaltemptmpj4ioby
build/users99679appdatalocaltemptmpjpfb4q
build/users99679appdatalocaltemptmpjpkftu
build/users99679appdatalocaltemptmplywmdi
build/users99679appdatalocaltemptmpm8v2ud
build/users99679appdatalocaltemptmpmenpvo
build/users99679appdatalocaltemptmpmqhzlw
build/users99679appdatalocaltemptmpmzuhvk
build/users99679appdatalocaltemptmpnbwio1
build/users99679appdatalocaltemptmpncfoqw
build/users99679appdatalocaltemptmpne396t
build/users99679appdatalocaltemptmpnzotwa
build/users99679appdatalocaltemptmpobju7a
build/users99679appdatalocaltemptmpobl7vn
build/users99679appdatalocaltemptmpookklh
build/users99679appdatalocaltemptmppeohzu
build/users99679appdatalocaltemptmpplbppm
build/users99679appdatalocaltemptmppmjmv7
build/users99679appdatalocaltemptmppndadt
build/users99679appdatalocaltemptmpqbotny
build/users99679appdatalocaltemptmpqdgyfx
build/users99679appdatalocaltemptmpqj66gy
build/users99679appdatalocaltemptmprqgozu
build/users99679appdatalocaltemptmpscph8m
build/users99679appdatalocaltemptmpsmk_9i
build/users99679appdatalocaltemptmpsue10j
build/users99679appdatalocaltemptmpsunwca
build/users99679appdatalocaltemptmpteq4ph
build/users99679appdatalocaltemptmptnatrq
build/users99679appdatalocaltemptmptovi2r
build/users99679appdatalocaltemptmptyxrpa
build/users99679appdatalocaltemptmpuwvvhd
build/users99679appdatalocaltemptmpuxt12m
build/users99679appdatalocaltemptmpv5wuhr
build/users99679appdatalocaltemptmpv9ezdk
build/users99679appdatalocaltemptmpvp6ezw
build/users99679appdatalocaltemptmpwlrzur
build/users99679appdatalocaltemptmpxkrdad
build/users99679appdatalocaltemptmpy0jlz3
build/users99679appdatalocaltemptmpyedlve
build/users99679appdatalocaltemptmpyhmiyz
build/users99679appdatalocaltemptmpyns7_9
build/users99679appdatalocaltemptmpyygnwb
build/users99679appdatalocaltemptmpzclzuu
build/xl_program.cbp
build/xl_program.exe
build/xl_program_autogen/mocs_compilation.cpp
